alembic==1.16.5
argon2-cffi==25.1.0
asyncpg==0.30.0
fastapi==0.116.1
httpx==0.28.1
Pillow==11.3.0
pypdf==6.0.0
python-multipart==0.0.20
langgraph==0.6.7
langgraph-checkpoint-postgres==2.0.23
langsmith==0.12.4
pydantic-settings==2.10.1
pytesseract==0.3.13
pytest==8.4.2
pytest-asyncio==1.1.0
psycopg[binary]==3.3.5
sqlalchemy==2.0.43
uvicorn[standard]==0.35.0
